@import url(./control.css);
@import url(./todoList.css);
@import url(./footer.css);
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: white;
    width: 400px;
    border-radius: 4px;
    padding: 4px;
    border: 3px solid green;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
}